* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:gilroy;
}
html,
body {
    height: 100%;
    width: 100%;
}

#cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    z-index: 999;
    background-color: #fff;
    mix-blend-mode: difference;
}

#page1{
    height: 100vh;
    /* background-color: rgb(62, 62, 62); */
    width: 100%;
    position: relative;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vw 8vw;
    position: fixed;
    width: 100%;
    mix-blend-mode: difference;
    z-index: 9;
}
#nav-part2{
    display: flex;
    align-items: center;
    gap: 3.5vw;
}

#nav h4{
    font-size: 0.9vw;
    text-transform: uppercase;
    color: #fff;
}

#nav i{
    font-size: 1.5vw;
    color: #fff;
    display: none;
}

video{
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}


#page2{
    height: 100vh;
    width: 100%;
    /* background-color: #fff; */
    position: relative;
    padding: 8vw 5vw;

}

#page2 h2{
    font-size: 1.5vw;
    letter-spacing: 2px;
    word-spacing: 5px;
    
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

#page2-content{
    /* background-color: red; */
    display: flex;
    margin-top: 5vw;
    align-items: center;
    justify-content: space-between;

}

#left-page2{
    height: 400px;
    width: 42%;
    background-color: rgb(237, 237, 237);
    border-radius: 10px;   
    position: relative;
    overflow: hidden;

}
#blur{
    height: 100%;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.325);
    backdrop-filter: blur(20px);
    position: relative;
    z-index: 9;
}

#left-page2 img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
#right-page2{
    height: 400px;
    width:45%;
    /* background-color: blue; */
}

#right-page2 h1{
    font-size: 3vw;
    font-weight: 500;
}

#right-page2 p{
    font-size: 1.3vw;
    font-weight: 300;
    margin: 2vw 0;
}


#right-page2 button{
    font-size: 1.1vw;
    font-weight: 500;
    padding: 14px 30px;
    border-radius: 50px;
    border: 2px solid #000;
    background-color: transparent;

}