@font-face {
    font-family: archi;
    src: url(./archia-light-webfont.woff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
}

#cursor {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    background-color: #fff;
    mix-blend-mode: difference;
}

#main {
    /* cursor: none; */
    background-color: #fff;
}

body::-webkit-scrollbar{
    display: none;
}

#page1 {
    height: 100vh;
    /* background-color: rgb(62, 62, 62); */
    width: 100%;
    position: relative;
}
#page1 h1{
    font-family: archi;

    position: absolute;
    bottom: 20%;
    font-weight: 100;
    z-index: 9;
    left: 10%;
    font-size: 4vw;
    color: #fff;
    /* background-color: blue; */
    width: 50%;
}
#page1 h1::after{
    content: "";
    position: absolute;
    height: 80px;
    width: 50px;
    animation: kuch 0.3s infinite linear;
    background-color: #fff;
}
#page1 h1 span{
    display: none;
    font-family: archi;
}
@keyframes kuch {
    100%{
        opacity: 0;
    }
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vw 8vw;
    position: fixed;
    width: 100%;
    mix-blend-mode: difference;
    z-index: 9999;
}

#nav-part2 {
    display: flex;
    align-items: center;
    gap: 3.5vw;
}

#nav h4 {
    font-size: 0.9vw;
    text-transform: uppercase;
    color: #fff;
}

#nav i {
    font-size: 1.5vw;
    color: #fff;
    display: none;
    position: relative;
    z-index: 9999;

}

#page1 video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}


#page2 {
    height: 100vh;
    width: 100%;
    /* background-color: #fff; */
    position: relative;
    padding: 8vw 5vw;

}

#page2 h2 {
    font-size: 1.5vw;
    letter-spacing: 2px;
    word-spacing: 5px;

    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

#page2-content {
    /* background-color: red; */
    display: flex;
    margin-top: 5vw;
    align-items: center;
    justify-content: space-between;

}

#left-page2 {
    height: 400px;
    width: 42%;
    background-color: rgb(237, 237, 237);
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}

#blur {
    height: 100%;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.325);
    backdrop-filter: blur(20px);
    position: relative;
    z-index: 9;
}

#left-page2 img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

#right-page2 {
    height: 400px;
    width: 45%;
    /* background-color: blue; */
}

#right-page2 h1 {
    font-size: 3vw;
    font-weight: 500;
}

#right-page2 p {
    font-size: 1.3vw;
    font-weight: 300;
    margin: 2vw 0;
}


#right-page2 button {
    font-size: 1.1vw;
    font-weight: 500;
    padding: 14px 30px;
    border-radius: 50px;
    border: 2px solid #000;
    background-color: transparent;

}

#page3 {
    min-height: 100vh;
    width: 100%;
    /* background-color: red; */
    background-image: url(./bg.png);
    background-size: cover;
    background-position: top;
    padding-bottom: 10vw;
}

#page3 #page3-top {
    width: 100%;
    height: 100px;
}

#helmet {
    /* background-color: blue; */
    width: 100%;
}

#page3-content-1 {
    width: 100%;
    padding: 5vw 0;

    text-align: center;
}

#page3-content-1 h2 {
    font-size: 3vw;
    font-family: archi;
    font-weight: 100;

}

#page3-content-1 p {
    font-size: 1.5vw;
    margin: 2vw 0;
    font-family: archi;
    font-weight: 100;

}

#page3-content-1 button {
    padding: 1vw 2vw;
    border-radius: 50px;
    border: 2px solid #000;
    background-color: transparent;
    font-size: 1.2vw;
    font-weight: 500;
}


#page3 #page3-content-2 {
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
    margin-top: 10vw;
    padding: 2vw 7vw;
    position: relative;
}

#page3-content-2 video {
    height: 100%;
    /* width: 40%; */
    border-radius: 10px;
    object-fit: cover;
}

#page3-content-2 h5{
    font-size: 2vw;
    width: 50%;
    font-family: archi;

}

#page4{
    height: 100vh;
    width: 100%;
    background-image: url(https://www.brain.space/wp-content/themes/brain.space/assets/bg/home/ecosystem_bg.jpg);
    background-size: cover;
}
#page4-content{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8vw 5vw;
    justify-content: flex-start;
    flex-wrap: nowrap;

}
#page4-info{
    flex-shrink: 0;
    width: 30vw;
    height: 100%;
    /* background-color: red; */
    color: #fff;
}
#page4-info h2{
    font-family: archi;
    font-size: 3vw;
    margin-bottom: 10px;
}
#page4-info button{
    
    font-size: 1vw;
    margin-top: 2vw;
    padding: 1vw 2vw;
    border-radius: 50px;
    border: 2px solid #000;
    background-color: transparent;
    font-weight: 600;
}

.page4-elems{
    flex-shrink: 0;
    height: 100%;
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.182);
    -webkit-mask-image: url(https://www.brain.space/wp-content/themes/brain.space/assets/bg/home/ecosystem-box_bg_mob.svg);
    -webkit-mask-size: cover;
    -webkit-mask-position: bottom;
    -webkit-mask-repeat: no-repeat;
    backdrop-filter: blur(20px);
    padding: 2vw;
    margin: 0 3vw;

}
.page4-elems img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1vw;
}

.page4-elems h2{
    font-family: archi;
    font-size: 3vw;
    font-weight: 100;
}

#page4 #slider{
    height: 5px;
    width: 59%;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    bottom: 8%;
    background-color: rgb(255, 255, 255);
    transform: translate(-50%,0);
    overflow: hidden;
}
#page4 #slider-in{
    height: 100%;
    width: 17vw;
    background-color: black;
}

#page5{
    height: 100vh;
    width: 100%;
    background: conic-gradient(at 0 0,rgb(255, 228, 233),aliceblue,rgb(205, 243, 255),rgb(195, 255, 195),lightyellow,rgb(251, 226, 230));
    padding: 4vw;
}


#page5-in{
    height: 100%;
    width: 100%;
    background-color: #c4c4c459;
    border-radius: 30px;
    backdrop-filter: blur(50px);
}
